body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;

}

.container {
    height: 80vh;
    width: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: lightgreen;
    padding: 40px 60px;      
}

h1 {
    font-size: 4vmin;
    color: #0E1C36;
    letter-spacing: .5vmin;
    font-family: 'Roboto Slab', serif;
}

.reset {
  margin-top: 4vmin;
  padding: 2vmin;
  font-size: 2vmin;
  border-radius: 4vmin;
  border: 0.5 solid black;
  color: #4D7EA8;
}

.reset:hover {
    color: white;
    background-color: darkgrey;
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 17vmin); 
    grid-template-rows: repeat(2, 15vmin);
    gap: 1.5vmin; 
    background-color: lightseagreen;    
}

.board > div {
    border: 0.1vmin solid black;
    background-color: #219EBC;
}